# Assignment No :- 03
#### Roll NO : 31386

### Basic Statistics - Measures of Central Tendencies and Variance
##### Perform the following operations on any open source dataset (eg. data.csv)
##### 1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for 
##### a dataset (age, income etc.) with numeric variables grouped by one of the qualitative 
##### (categorical) variable. For example, if your categorical variable is age groups and 
##### quantitative variable is income, then provide summary statistics of income grouped by the 
##### age groups. Create a list that contains a numeric value for each response to the categorical 
##### variable. 
##### 2. Write a Python program to display some basic statistical details like percentile, mean, 
##### standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris-versicolor’ 
##### of iris.csv dataset.

In [1]:
import pandas as pd
import numpy as np
import statistics

In [2]:
data = pd.read_csv("StudentsPerformance.csv")
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72.0,74.0
1,female,group C,some college,standard,completed,69,90.0,88.0
2,female,group B,master's degree,standard,none,90,95.0,93.0
3,male,group A,associate's degree,free/reduced,none,47,57.0,44.0
4,male,group C,some college,standard,none,76,78.0,75.0

In [3]:
# converting math score to numeric data type for calculations
data['math score'] = pd.to_numeric(data['math score'],errors = 'coerce')

### 1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for a dataset (age, income etc.) with numeric variables grouped by one of the qualitative (categorical) variable. For example, if your categorical variable is age groups and quantitative variable is income, then provide summary statistics of income grouped by the age groups. Create a list that contains a numeric value for each response to the categorical variable.

In [4]:
# mean, median, mode, standard deviation, minimum maximum of math score by grouping gender

print(data.groupby('gender')['math score'].describe())
print("\n\nMedian\n")
print(data.groupby('gender')['math score'].median())
print("\n\nMode\n")
print(data.groupby('gender')['math score'].agg(pd.Series.mode))

        count       mean        std   min   25%   50%   75%    max
gender
female  499.0  63.951904  21.061721 -89.0  53.5  65.0  74.0  334.0
male    458.0  68.908297  14.240982  27.0  59.0  69.0  79.0  100.0


Median

gender
female    65.0
male      69.0
Name: math score, dtype: float64


Mode

gender
female    65.0
male      62.0
Name: math score, dtype: float64

In [5]:
# mean, median, mode, standard deviation, minimum maximum of reading score by grouping gender

print(data.groupby('gender')['reading score'].describe())
print("\n\nMedian\n")
print(data.groupby('gender')['reading score'].median())
print("\n\nMode\n")
print(data.groupby('gender')['reading score'].agg(pd.Series.mode))

        count       mean        std  min   25%   50%   75%    max
gender
female  512.0  71.419922  16.659049  3.0  62.0  73.0  83.0  100.0
male    482.0  64.383817  15.768597  4.0  55.0  66.0  75.0  100.0


Median

gender
female    73.0
male      66.0
Name: reading score, dtype: float64


Mode

gender
female    72.0
male      66.0
Name: reading score, dtype: float64

In [6]:
# mean, median, mode, standard deviation, minimum maximum of writing score by grouping gender

print(data.groupby('gender')['writing score'].describe())
print("\n\nMedian\n")
print(data.groupby('gender')['writing score'].median())
print("\n\nMode\n")
print(data.groupby('gender')['writing score'].agg(pd.Series.mode))

        count       mean        std   min   25%   50%   75%    max
gender
female  514.0  74.177043  30.939320  10.0  64.0  74.0  82.0  554.0
male    477.0  64.433962  27.144384  15.0  53.0  64.0  74.0  567.0


Median

gender
female    74.0
male      64.0
Name: writing score, dtype: float64


Mode

gender
female    70.0
male      68.0
Name: writing score, dtype: float64

In [7]:
# mean, median, standard deviation, minimum maximum of math score by grouping race/ethnicity

print(data.groupby('race/ethnicity')['math score'].describe())
print("\n\nMedian\n")
print(data.groupby('race/ethnicity')['math score'].median())

                count       mean        std   min   25%   50%   75%    max
race/ethnicity
group A          86.0  61.627907  14.567528  28.0  51.0  61.0  71.0  100.0
group B         182.0  65.005495  25.113334   8.0  54.0  63.0  74.0  334.0
group C         303.0  64.841584  15.635797   0.0  55.0  65.0  74.5  123.0
group D         251.0  66.780876  16.924650 -89.0  59.0  68.0  77.0  100.0
group E         135.0  73.570370  15.406212  30.0  64.5  74.0  84.5  100.0


Median

race/ethnicity
group A    61.0
group B    63.0
group C    65.0
group D    68.0
group E    74.0
Name: math score, dtype: float64

In [8]:
# mean, median, standard deviation, minimum maximum of reading score by grouping race/ethnicity

print(data.groupby('race/ethnicity')['reading score'].describe())
print("\n\nMedian\n")
print(data.groupby('race/ethnicity')['reading score'].median())

                count       mean        std   min   25%   50%    75%    max
race/ethnicity
group A          89.0  63.932584  16.630201   8.0  53.0  63.0  73.00  100.0
group B         190.0  66.463158  16.842759   6.0  56.0  67.0  79.75   97.0
group C         317.0  68.337539  15.597274   4.0  60.0  71.0  79.00  100.0
group D         259.0  68.166023  17.115415   3.0  59.0  70.0  79.00  100.0
group E         139.0  71.683453  16.907693  11.0  62.0  74.0  84.00  100.0


Median

race/ethnicity
group A    63.0
group B    67.0
group C    71.0
group D    70.0
group E    74.0
Name: reading score, dtype: float64

In [9]:
# mean, median, standard deviation, minimum maximum of writing score by grouping race/ethnicity

print(data.groupby('race/ethnicity')['writing score'].describe())
print("\n\nMedian\n")
print(data.groupby('race/ethnicity')['writing score'].median())

                count       mean        std   min    25%   50%    75%    max
race/ethnicity
group A          88.0  74.000000  76.200884  19.0  51.75  63.5  74.00  567.0
group B         188.0  65.781915  16.030729  15.0  55.00  67.0  78.00  112.0
group C         314.0  69.121019  26.636555  10.0  56.25  68.5  79.00  455.0
group D         261.0  70.045977  14.305385  32.0  61.00  72.0  80.00  100.0
group E         140.0  71.407143  15.113906  22.0  62.00  72.0  80.25  100.0


Median

race/ethnicity
group A    63.5
group B    67.0
group C    68.5
group D    72.0
group E    72.0
Name: writing score, dtype: float64

### 2. Write a Python program to display some basic statistical details like percentile, mean, standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris-virginica’ of iris.csv dataset.

In [10]:
# Load the Iris dataset from iris.csv file
iris = pd.read_csv('iris.csv')
iris.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [11]:
# basic statistical details like percentile, mean, standard deviation of the species of ‘Iris-setosa’,
# ‘Iris-versicolor’ and ‘Iris-virginica’ using describe method

setosa = iris[iris['Species'] == 'Iris-setosa'].describe()
versicolor = iris[iris['Species'] == 'Iris-versicolor'].describe()
virginica = iris[iris['Species'] == 'Iris-virginica'].describe()


print("\nIRIS-SETOSA")
print(setosa)
print("\nIRIS-VERSICOLOR")
print(versicolor)
print("\nIRIS-VIRGINICA")
print(virginica)

IRIS-SETOSA
             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000

IRIS-VERSICOLOR
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000      50.000000     50.000000      50.000000     50.000000
mean    75.50000       5.936000      2.770000       4.260000      1.326000
std     14.57738       0.516171      0.313798       0.469911      0.197753
min     51.00000       4.900000      2.000000       3.000000      1.000000
25%     63.25000       5.600000      2.525000       4.000000      1.200000
50%     75.50000       5.900000      2.800000       4.350000      1.300000
75%     87.75000       6.300000      3.000000       4.600000      1.500000
max    100.00000       7.000000      3.400000       5.100000      1.800000

IRIS-VIRGINICA
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000       50.00000     50.000000      50.000000      50.00000
mean   125.50000        6.58800      2.974000       5.552000       2.02600
std     14.57738        0.63588      0.322497       0.551895       0.27465
min    101.00000        4.90000      2.200000       4.500000       1.40000
25%    113.25000        6.22500      2.800000       5.100000       1.80000
50%    125.50000        6.50000      3.000000       5.550000       2.00000
75%    137.75000        6.90000      3.175000       5.875000       2.30000
max    150.00000        7.90000      3.800000       6.900000       2.50000

In [12]:
setosa = iris[iris['Species'] == 'Iris-setosa'].median()
versicolor = iris[iris['Species'] == 'Iris-versicolor'].median()
virginica = iris[iris['Species'] == 'Iris-virginica'].median()

print("\nMEDIAN\n")

print("\nIRIS-SETOSA")
print(setosa)
print("\nIRIS-VERSICOLOR")
print(versicolor)
print("\nIRIS-VIRGINICA")
print(virginica)

MEDIAN


IRIS-SETOSA
Id               25.5
SepalLengthCm     5.0
SepalWidthCm      3.4
PetalLengthCm     1.5
PetalWidthCm      0.2
dtype: float64

IRIS-VERSICOLOR
Id               75.50
SepalLengthCm     5.90
SepalWidthCm      2.80
PetalLengthCm     4.35
PetalWidthCm      1.30
dtype: float64

IRIS-VIRGINICA
Id               125.50
SepalLengthCm      6.50
SepalWidthCm       3.00
PetalLengthCm      5.55
PetalWidthCm       2.00
dtype: float64

In [20]:
setosa = iris[iris['Species'] == 'Iris-setosa']
versicolor = iris[iris['Species'] == 'Iris-versicolor'].agg(pd.Series.mode)
virginica = iris[iris['Species'] == 'Iris-virginica'].agg(pd.Series.mode)

setosa = setosa['PetalLengthCm'].agg(pd.Series.mode)
versicolor = versicolor['PetalLengthCm'].agg(pd.Series.mode)
virginica = virginica['PetalLengthCm'].agg(pd.Series.mode)

print("\nMODE\n")

print("\nIRIS-SETOSA")
print(setosa)
print("\nIRIS-VERSICOLOR")
print(versicolor)
print("\nIRIS-VIRGINICA")
print(virginica)

MODE


IRIS-SETOSA
0    1.5
dtype: float64

IRIS-VERSICOLOR
0    4.5
dtype: float64

IRIS-VIRGINICA
0    5.1
dtype: float64